// Place all the styles related to the stats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.report {
  padding: 50px;
  text-align: left;
}

.report p {
  margin: 50px auto;
}